
:root {
    --main-color: #2B124C;
    --second-color: #522b5b;
    --background-color: #190019;
    --text-color: #fac9af;
    --font-family: Tahoma, sans-serif;
    --padding: 20px;
    --margin: 10px;
    --card-shadow: rgba(0, 0, 0, 0.1);
    --form-text-color: 
}

body {
    font-family: var(--font-family);
    line-height: 1.6;
    margin: var(--padding);
    padding: var(--padding);
    background-color: var(--background-color);
}


header {
    background: var(--main-color);
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    width: 100px; 
    float: right;
}


.nav-list {
    display: flex;
    list-style: none;
    gap: 20px;
    
    a {
        color: white;
        text-decoration: none;

        &:hover {
            background-color: var(--second-color);
        }
    }
}


footer {
    color: white;
    background-color: var(--main-color);
    text-align: center;
    padding: 1rem;
    border-radius: 0.25rem;
    margin-top: 20px;
}

.project-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    color: var(--text-color);
    padding: var(--padding);
    margin: var(--margin);
    border-radius: 8px;
    box-shadow: 0 4px 15px var(--card-shadow);
    transition: transform 0.3s, box-shadow 0.3s;
    

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 30px var(--card-shadow);
        
    }
}


.create-project-form,
.contact-form {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 20px var(--card-shadow);
    max-width: 100%; /* Fyll hele kolonnen */
    
    label {
        color: var(--text-color);
        font-weight: bold;
        margin-bottom: 8px;
        display: block;
    }

    input,
    textarea {
        width: 100%;
        padding: 12px;
        margin: 10px 0 20px;
        border-radius: 5px;
        border: 1px solid #ddd;
        transition: border-color 0.3s;

        &:focus {
            border-color: var(--main-color);
        }
    }
}


button {
    background: var(--main-color);
    color: white;
    border: none;
    padding: 12px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    width: 100%;

    &:hover {
        background: var(--second-color);
    }

    &:active {
        transform: scale(0.98);
    }
}


.remove-button {
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


h1, h2, h3, p {
    margin-bottom: 15px;
    color: var(--text-color);
}

h2 {
    color: var(--text-color);
}


